@import '../../styles/variables';

.tableContainer {
    margin-top: 1rem;
    border-radius: $border-radius-base;
  }
  
  .tableHeader {
    background-color: $primary-bg;
    color: $primary-text-color;
    font-size: 2.5rem;
    padding-bottom: 40px;
    padding-left: 20px;
    border-radius: $border-radius-base;
  }
  
  .tableRow {
    background-color: $primary-bg;
  }
  
  .btnSeeJob {
    background-color: $primary-color;
    color: $primary-text-color;
    font-weight: bold;
    width: 150px;
    height: 50px;
    padding-top: 12px;
    border-radius: $border-radius-base;
  }
  
  .btnSeeJob:hover {
    background-color: $tertiary-color;
  }
  
  @media (max-width: 767px) {
    .table-responsive {
      overflow-x: auto;
    }
  }
  