@import '../styles/variables';

.jobsModal {
	background: $primary-bg;
	color: $primary-text-color;
	margin: auto;
	border: 1px solid $primary-text-color;
	overflow: auto;
	border-radius: 4px;
	outline: none;
	padding: 40px 120px;
	width: 100vh;
}
button {
	color: $primary-text-color;
	background-color: $primary-color;
	border: none;
	width: 150px;
	height: 50px;
	font-weight: bold;
	margin: 15px;
	border-radius: 5px;
}

@media (max-width: 767px) {
	.jobsModal {
		width: 70vh;
		inset: 0;
		margin: auto;
	}
}
