/* $primary-color: #1F5014;
$primary-bg: #272727;
$secondary-color: #040D0C;
$primary-text-color: #F6F6F6; */


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: calc(100vh - 20px); 
    padding-top: 20px; 
    background-color: #272727;
  }
  
  .form-column {
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #1F5014;
    color: #F6F6F6;
    border: none;
  }
  
  .btn-primary {
    background-color: #1F5014;
    color: #F6F6F6;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #343a40; 
  }
  
  .btn-primary:active {
    background-color: #343a40; 
  }